#respond {
	padding-top: 75px;
}

@include b(comments) {
	@extend .columns;
	float: none;
	padding-top: 50px;
	max-width: 750px;
	margin: 0 auto 75px;
	.text-styles__sidebar-subhead {
		color: $black;
	}

	@include e(intro-title){
		text-align: center;
		margin-bottom: 30px;
	}

	@include e(count-share){
		vertical-align: middle;
		/*margin-bottom: 50px;*/
		.text-styles__sidebar-subhead, .ssbp-wrap {
			display: inline-block;
			vertical-align: middle;
		}
		.ssbp-wrap {
			margin-left: 30px;
			@media #{$small-only} {
				margin-left: 0;
				text-align: left; 
			}
		}
	}

	@include e(all){
		margin-left: 0;
		list-style: none;
		@media #{$medium-up}{
        	padding: 0 45px;
        }
	}
	.comment-author {
		margin-bottom: 5px;
		padding: 0;
		border:none;
		img {
			display: none;
		}
		.says {
			display: none;
		}
		a {

			transition: color .45s ease-out;
			font-size: 13px;
			letter-spacing: .12em;
			text-transform: uppercase;
			&:hover {
				color: $black;
			}
		}
		b {
			@extend .font__details;
		}
	}

	.comment-metadata,.reply {
		/*display: inline-block;*/
		a {
			
			
		} 
	}
	#cancel-comment-reply-link {

		float: right;
		padding-top: 24px;	
	}
	.comment-metadata {
		padding-right: 18px;
		margin-right: 15px;
		line-height: 1;
		position: relative;
		&:after {
			
			content: '';
			position: absolute;
			width: 2px;
			height: 11px;
			top: 4px;
			right: 0;
			display: block;
		}
		a {
			&:hover {
				color: $black;
			}
		}
	}
	.children {
		background: $white;
		list-style: none;
		margin: 30px 0 15px;
		padding: 10px 15px;
		margin-left: 15px;
		li {
			margin-top: 50px;
			&:first-child {
				margin-top: 0;
			}
		}
	}

	.logged-in-as {
		
		a {
			color: $black;
		}
	}

	.comment-form {
		input[type="submit"] {
			@extend .font__details;
			@extend .font__details--bold;
			cursor: pointer;
			border-top: none;
			border-right: none;
			border-left: none;
			background: none;
			padding-left: 0;
			padding-right: 0;
			border:none;
		}
		.comment-form-comment,
		.comment-form-author,
		.comment-form-email,
		.comment-form-url,
		.comment-form-comment {
			margin-bottom: 30px;
			label {
				display: none;
			}
			input,textarea {
				background: none;
				border: 1px solid $black;
				color: $black;
				font-size: 15px;
				letter-spacing: .05em !important;
				padding-left: 15px;
				box-shadow: none;
				 @include placeholder {
				 	color: $black;
				 }
			}
			textarea {
				padding-top: 15px;
			}
		}
	}
	#reply-title {
		@extend .font__mini-header;
		margin-bottom: 30px;
		em {
			@extend .font__mini-header--italic;
		}
	}

	.comment-body {
		position: relative;
		.comment-metadata {
			@extend .font__body-copy;
			@extend .font__body-copy--italic;
			position: absolute;
			left: 0;
			bottom: 4px;
			line-height: 1;
		}
	}

	.comment-list {
		margin-left: 0;
		overflow: hidden;
		li {
			list-style: none;
		}
		> li {
			border-top: 1px solid $black;
			margin-top: 30px;
			padding-top: 30px;
			&:first-child {
				padding-top: 0;
				margin-top: 0;
				border:none;
			}
		}
	}

	.reply {
		a {
			@extend .font__body-copy;
			@extend .font__body-copy--italic;
			line-height: 1;
			&:hover {
				color: $black;
			}
		}
	}
	.comment-content {
		p {
			margin-bottom: 5px;
		}
	}

	.comment-notes {
		display: none;
	}
	.form-submit {
		text-align: center;
	}

	@include m(about){
		max-width: 100%;
		padding-top: 10px;
		margin: 0 auto;
		float: none !important;
		clear: both;
		#respond {
			padding-top: 0;
		}
		.logged-in-as {
			display: none;
		}
		.reply {
			display: none;
		}
		.comment-body {
			.comment-metadata {
				
				position: relative;
				bottom: 0;
				font-style: normal;
				a {
					@extend .font__details;
					display: block;
					margin-bottom: 10px;
				}
			}
			.comment-author {
				display: none;
			}
		}
		.children {
			margin-left: 0;
			padding-left: 0;
			.comment-content {
				p {
					@extend .font__body-copy--italic;
				}
			}
			.comment-metadata {
				display: none;
			}
		}
		.comment-form-author,
		.comment-form-email {
			display: none;
		}
		textarea {
			background: none;
			border: 1px solid $black;
			color: $black;
			font-size: 15px;
			letter-spacing: .05em !important;
			padding-left: 15px;
			box-shadow: none;
			 @include placeholder {
			 	color: $black;
			 }
		}
	}
}
