/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
.flex-direction-nav a,.flex-direction-nav a:before{color:rgba(0,0,0,.8);text-shadow:1px 1px 0 rgba(255,255,255,.3)}.flex-direction-nav a,.flex-pauseplay a{z-index:10;overflow:hidden;position:absolute}@font-face{font-family:flexslider-icon;src:url(../fonts/flexslider-icon.eot);src:url(../fonts/flexslider-icon.eot?#iefix) format('embedded-opentype'),url(../fonts/flexslider-icon.woff) format('woff'),url(../fonts/flexslider-icon.ttf) format('truetype'),url(../fonts/flexslider-icon.svg#flexslider-icon) format('svg');font-weight:400;font-style:normal}.flex-container a:focus,.flex-container a:hover,.flex-slider a:focus,.flex-slider a:hover{outline:0}.flex-control-nav,.flex-direction-nav,.slides,.slides>li{margin:0;padding:0;list-style:none}.flex-pauseplay span{text-transform:capitalize}.flexslider{padding:0;margin:0 0 60px;background:#fff;border:4px solid #fff;position:relative;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:'' 0 1px 4px rgba(0,0,0,.2);-moz-box-shadow:'' 0 1px 4px rgba(0,0,0,.2);-o-box-shadow:'' 0 1px 4px rgba(0,0,0,.2);box-shadow:'' 0 1px 4px rgba(0,0,0,.2)}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden}.flexslider .slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}html[xmlns] .flexslider .slides{display:block}* html .flexslider .slides{height:1%}.no-js .flexslider .slides>li:first-child{display:block}.flexslider .slides{zoom:1}.flexslider .slides img{width:100%;display:block;height:auto}.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}.loading .flex-viewport{max-height:300px}.carousel li{margin-right:5px}.flex-direction-nav a{text-decoration:none;display:block;width:40px;height:40px;margin:-20px 0 0;top:50%;opacity:0;cursor:pointer;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.flex-direction-nav a:before{font-family:flexslider-icon;font-size:40px;display:inline-block;content:'\f001'}.flex-direction-nav a.flex-next:before{content:'\f002'}.flex-direction-nav .flex-prev{left:-50px}.flex-direction-nav .flex-next{right:-50px;text-align:right}.flexslider:hover .flex-direction-nav .flex-prev{opacity:.7;left:10px}.flexslider:hover .flex-direction-nav .flex-prev:hover{opacity:1}.flexslider:hover .flex-direction-nav .flex-next{opacity:.7;right:10px}.flexslider:hover .flex-direction-nav .flex-next:hover{opacity:1}.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default}.flex-pauseplay a{display:block;width:20px;height:20px;bottom:5px;left:10px;opacity:.8;cursor:pointer;color:#000}.flex-pauseplay a:before{font-family:flexslider-icon;font-size:20px;display:inline-block;content:'\f004'}.flex-pauseplay a:hover{opacity:1}.flex-pauseplay a.flex-play:before{content:'\f003'}.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center}.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1}.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,.5);cursor:pointer;text-indent:-9999px;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,.3);-o-box-shadow:inset 0 0 3px rgba(0,0,0,.3);box-shadow:inset 0 0 3px rgba(0,0,0,.3);-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,.7)}.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,.9);cursor:default}.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden}.flex-control-thumbs li{width:25%;float:left;margin:0}.flex-control-thumbs img{width:100%;height:auto;display:block;opacity:.7;cursor:pointer;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}.flex-control-thumbs img:hover{opacity:1}.flex-control-thumbs .flex-active{opacity:1;cursor:default}@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px}.flex-direction-nav .flex-next{opacity:1;right:10px}}

#home-page-slider {
	max-width: 908px;
		margin: 0 auto;
		overflow: visible;
	.flex-viewport {
		overflow: visible !important;
		li {
			
			overflow: hidden;
			img {
				
			}
			&.flex-active-slide {
				img {
					
				}
			}
		}

	}
}

/*shopping items*/
#featured-items-slider {
	background: none;
	border:none;
	border-radius: 0;
	box-shadow: none;
	margin-top: 50px;
	margin-bottom: 0;
	ul {
		li {
			width: 25%;
		}
	}
	img {
		max-width: 150px;
		margin: 0 auto;
	}
	.slides {
		li {
			a {
				color: $black;
				position: relative;
				display: block;
				&:hover {
					color: $black;
					span {
						opacity: 1;
						color: $black;
					}
				}
				span {
					background: $white;
					position: absolute;
					text-transform: uppercase;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					text-align: center;
					height: 26px;
					padding: 12px 5px;
					width: 100px;
					margin: auto;
					opacity: 0;
					border: 3px solid #f6f6f7;
					line-height: 1;
					display: inline-block;
					height: 41px;
					transition: opacity .45s ease-out;
				}

			}
		}
	}
	&:hover {
		.flex-direction-nav {
			a {
				opacity: 1 !important;
			}
			.flex-next {
				right: -50px;
				@media only screen and (max-width: 1475px) {
					right: 0;
				}
			}
			.flex-prev {
				left: -50px;
				@media only screen and (max-width: 1475px) {
					left: 0;
				}
			}
		}
	}
	.flex-direction-nav {
		a {
			
			opacity: 1;
			margin: 0;
			height: 45px;
			width: 35px;
			padding: 5px;
			font-size: 0;
			@media only screen and (max-width: 1475px) {
				background: rgb(255, 255, 255); /* The Fallback */
					background: rgba(255, 255, 255, 0.5); 
			}
			&:before {
				font-size: 31px;
				line-height: 1;
				width: 100%;
				height: 10px;
				margin-top: 12px;
			}
		}
		.flex-next {
			right: -50px;
			@media only screen and (max-width: 1475px) {
				right: 0;
			}
			&:before {
				background-size: contain;
				content: '';
				background-image: url(../images/arrow-right-hd.png);
				background-repeat: no-repeat;
			}
		}
		.flex-prev {
			left: -50px;
			@media only screen and (max-width: 1475px) {
				left: 0;
			}
			&:before {
				background-size: contain;
				content: '';
				background-image: url(../images/arrow-left-hd.png);
				background-repeat: no-repeat;
			}
		}
	}
}