@include b(preview-image){
	@extend .clearfix;
	text-align: center;
	position: relative;
	z-index: 0;
	@include m(post){

	}

	@include m(single-post){
		.negative-margin {
			margin-bottom: -50px;
		}
	}

	@include e(single-img){
		@extend .clearfix;
		display: block;
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;
	}

	@include e(double-container){
		@extend .clearfix;
		display: block;
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;
		.small-6 {
			float: left;
		}
	}

	@include e(placeholder){
		@include aspect-ratio(16,10.8);
		background-size: cover;
		background-position: top center;
		display: block;
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
	}

	@include e(spacer){
		position: relative;
		display: block;
		height: 75px;
		width: 100%;
	}
}