@include b(content-preview){
	margin-bottom: 75px;
	position: relative;
	z-index: 9;
	@include e(entry-summary){
		@extend .columns;
		background: $white;
		float: none;
		width: 100%;
		max-width: 1140px;
		margin: 0 auto 30px;
	}

	@include e(summary-con){
		@extend .clearfix;
		padding: 70px 50px;	
		@media #{$medium-down} {
			padding: 50px 0 30px;
		}
	}

	@include e(meta){
		margin-bottom: 15px;
		.updated {
			&:before {
				display: inline-block;
				content: '•';
				padding-right: 15px;
				margin-left: 10px;
			}
		}
	}

	@include e(meta-plus){
		border-bottom: 1px solid $black;
		padding-bottom: 15px;
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		@media #{$medium-down} {
		    padding-left: 0.9375rem;
    		padding-right: 0.9375rem;
		}
	}

	@include e(comments){
		display: inline-block;
		vertical-align: top;
		span {

		}
	}

	@include e(share){
		display: inline-block;
		margin-left: 50px;
		vertical-align: top;
		@media #{$medium-down} {
			margin-left: 0;
			display: block;
			clear: both;
		}
		.ssbp-wrap {
			margin-left: 20px;
		}
		.ssbp-container {
			.ssbp-list {
				li {
					display: inline-block;
					margin-left: 20px !important;
					&:first-child {
						margin-left: 0 !important;
					}
					a {
						color: $black;
						background: none;
						line-height: 1;
						height: auto;
						width: auto;
						&:hover,
						&:focus {
							transform: scale(1);
							background:none;
							color: $black;
						}
						&:before {
							font-size: 15px;
						}
					}
				}
			}
		}
	}

	@include e(tags){
		float: right;
		@media #{$medium-down} {
			float: none;
			display: block;
			clear: both;
		}
	}

	.font__view-more {
		position: absolute;
		top: 0;
		right: 0;
		@media #{$medium-down} { 
			font-size: 12px;
			padding: 7px 20px;
		}
	}
}