@include b(shopstyle-con){
	@extend .clearfix;
	display: block;
	max-width: 960px;
	width: 100%;
	margin: 0 auto 75px;
}

@include b(shopstyle-item){
	display: block;
	width: 25%;
	float: left;

	@include e(inner){
		background: $white;
		border: 10px solid #F6F6F6;
		text-align: center;
		padding: 15px;
	}
}
.button-group {
	padding: 15px 15px 0;
	text-align: center;
	.button {
		@extend .font__details;
		background: none;
		padding: 15px 25px;
		&:hover,
		&:focus {
			background:none;
			outline: 0;
		}
	}
}