@include b(small-post){

	@include e(intro-title){
		@extend .columns;
		float: none;
	}

	@include e(set-width){
		position: relative;
		display: block;
		width: 100%;
		max-width: 1175px;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	@include e(con){
		position: relative;
		&:hover {
			.content-overlay {
				opacity: 1;
			}
		}
	}
	@include e(image){
		height: 270px;
		width: 100%;
		position: relative;
		z-index: 0;
		background-position: top center !important;
		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	@include e(image-double){
		width: 100%;
		position: relative;
		z-index: 0;
		span {
			background-size: cover;
			background-position: top center !important;
			height: 270px;
			display: block;
			width: 50%;
			float: left;
		}
	}


	@include e(cat){
		display: block;
		position: relative;
		z-index: 9;
		text-transform: uppercase;
	}

	h2 {
		text-transform: uppercase;
	}

}