@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-down} { }
@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }

@media only screen and (min-width: 1350px) {}
@media only screen and (max-width: 1350px) {}
@media only screen and (min-width: 1350px) and (max-width: 1350px) {}

body {
	@extend .font__body-copy;
	background: $backgroundColor;
	p {
		@extend .font__body-copy;
	}
	em {
		@extend .font__body-copy;
		@extend .font__body-copy--italic;
	}
}

.main {
	padding-top: 180px;
	@media #{$small-only}{
		padding-top: 87px;
	}
}

.blog {
	.page-header {
		@extend .columns;
		float: none;
		text-align: center;
		margin: 30px 0;
		h1 {
			@extend .font__details;
			@extend .font__details--bold;
		}
	}
}

a {
	color: $black;
	transition: color .45s ease-out;
	&:focus {
		outline: none;
	}
	&:hover {
		color: $black;
	}
}

.prevent-overflow {
	@extend .clearfix;
	overflow: hidden;
	&--slider-nav {
		padding-bottom: 50px;
	}
}

@include b(row){

	@include m(plus){
		max-width: 74.5rem;
	}
}

body img.gform_ajax_spinner {
    display: none!important;
}

@include b(pin-magic){
	position: relative;
	display: inline-block;
	&:hover {
		.pin-magic__link {
			opacity: 1;
		}
	}

	@include e(link){
		background-image: url(../images/SomethingNavy_Pinit.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
	    z-index: 99;
	    height: 28px;
	    width: 50px;
	    left: 15px;
	    top: 15px;
	    display: block;
	    opacity: 0;
	    cursor: pointer;
	    transition: opacity .45s ease-out;
	}
}
.preview-image__placeholder {
	&:hover {
		.pin-magic__link {
			opacity: 1;
		}
	}
	.pin-magic__link {
		background-image: url(../images/SomethingNavy_Pinit.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
	    z-index: 99;
	    height: 28px;
	    width: 50px;
	    left: 15px;
	    top: 15px;
	    display: block;
	    opacity: 0;
	    cursor: pointer;
	    transition: opacity .45s ease-out;
	}
}

.f-dropdown.content {
	&:focus {
		outline: 0;
	}
	&.open {
		margin-left: 7px;
	}
}

.search-results {
	.main {
		@extend .row;
		@extend .columns;
		float: none;
		
		padding-bottom: 75px;
		.page-header {
			padding-top: 50px;
			h1 {
				@extend .font__header;
			}
		}
		.entry-title {
			a {
				@extend .font__mini-header;
				@extend .font__mini-header--other;
			}
		}
		.screen-reader-text {
			@extend .font__header;
		}
	}
}

.bubblingG {
	text-align: center;
	width:78px;
	height:49px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 24px auto;
	background: rgb(0,0,0);
	border-radius: 49px;
		-o-border-radius: 49px;
		-ms-border-radius: 49px;
		-webkit-border-radius: 49px;
		-moz-border-radius: 49px;
	animation: bubblingG 1.5s infinite alternate;
		-o-animation: bubblingG 1.5s infinite alternate;
		-ms-animation: bubblingG 1.5s infinite alternate;
		-webkit-animation: bubblingG 1.5s infinite alternate;
		-moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.45s;
		-o-animation-delay: 0.45s;
		-ms-animation-delay: 0.45s;
		-webkit-animation-delay: 0.45s;
		-moz-animation-delay: 0.45s;
}

#bubblingG_3 {
	animation-delay: 0.9s;
		-o-animation-delay: 0.9s;
		-ms-animation-delay: 0.9s;
		-webkit-animation-delay: 0.9s;
		-moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		transform: translateY(-20px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-o-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-o-transform: translateY(-20px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-ms-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-20px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-20px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-moz-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-20px);
	}
}