/*classes*/
.cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cover-top {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.clear {
	clear: both;
}


/*colors*/
$backgroundColor: #F6F6F6;
$lightBeige: #F6EEE4;
$midBlack: #1d1d1b;