.search-submit{
  @include button;
}

.widget{
  ul{
    list-style: none;
    margin-left: 0;
  }
  &.widget_text {
  	width: 260px;
  	.textwidget {
  		
  	}
  	iframe {
  		max-width: 100%;
  	}
  }
}

@include b(side-bar-options){
	background: $white;
	border: 1px solid $black;
	margin-bottom: 30px;
	z-index: 99;
	@include e(title){
		@extend .font__details;
		text-align: center;
		border-bottom: 1px solid;
		padding: 10px;
		margin: 0;
	}

	@include e(recent-pin){
		border-top: 1px solid $black;
		a {
			padding: 30px;
			display: block;
		}
	}

	@include e(wish-list){
		border-top: 1px solid $black;
	}

	.sub-title {
		display: block;
		text-align: center;
		margin: 10px 0 30px;
	}

	.wish-list-item {
		display: block;
		padding: 0 30px 50px;
	}
}

aside {
	#gform_wrapper_2  {
		padding-bottom: 22px;
		.gform_footer {
			
		}
		@media #{$small-only} { 
			max-width: 100%;
			.gform_body {
    			width: 100% !important;
    			padding: 0 15px;
    			display: block;
    		}
    		.gform_footer {
    			margin: 15px 0 0;
    			display: block;
    			width: 100%;
    			padding: 0 15px;
    			input[type=submit] {
    				border-left: 1px solid $black !important;
    				width: 100%;
    				display: block;
    			}
    		}
		}
	}
}


@include b(my-favorites) {
	margin: 0;
	padding: 30px;
	li {
		list-style: none;
		text-align: center;
		margin-top: 30px;
		&:first-child {
			margin-top: 0;
		}
	}
	a {
		font-size: 18px;
		line-height: 24px;
	}
	.small-post__cat {
		padding: 10px 0;
	}
}